.menu {
  display: flex;                
  justify-content: center;       
  align-items: center;           
  gap: 40px;                    
  
  width: 304%;  
  height: 150px;          
  padding: 10px 0;        
  
  background-color: #111111;
  border-radius: 0;      
  box-sizing: border-box;
}


   
.menu-item { 
  width: 80px;
  height: 80px;
  background-color: #011afa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item img {
  width: 30px;
  height: 30px;
}

.menu-item:hover {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  transform: scale(1.2);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.item-count{

  background-color: red;
  width: 20px;
  height:20px ;
  border-radius: 100%;
  font-size: 12px;

display: flex;
align-items: center;
justify-self: center;
color: white;

}


@media (max-width: 768px) {
  .menu {
    gap: 20px;              
  }
  .menu-item {
    width: 60px;
    height: 60px;
  }
}
